<header>
    <div>
        <img src="https://www.fime.com/web/image/website/1/logo/Fime?unique=1ba26e5" alt="Fimelogo">
    </div>
    <nav>

        <ul>
            <li>
                <a href="#" routerLink="" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a href="#" routerLink="services" routerLinkActive="active">Services</a>
            </li>
            <li>
                <a href="#" routerLink="prodcuts" routerLinkActive="active">Product</a>
            </li>
            <li>
                <a href="#" routerLink="clients" routerLinkActive="active">Clients</a>
            </li>
            <li>
                <a href="#" routerLink="contact" routerLinkActive="active">Contact</a>
            </li>
        </ul>
    </nav>
</header>