

    <header>
        <div>
            <img src="https://www.fime.com/web/image/website/1/logo/Fime?unique=1ba26e5" alt="Fimelogo">
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Product</a>
                </li>
                <li>
                    <a href="#">Clients</a>
                </li>
                <li>
                    <a href="#">Contacts</a>
                </li>
            </ul>
        </nav>
    </header>
